body {
  background-color: hotpink;
  color: black;
  overflow: hidden;
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.correct-summary input[type='radio'], .correct-summary label {
  display: none;
}

h1 {
  color: white;
  text-shadow: 1px 1px 2px black;
  margin:0;
}

@media (max-height: 667px) {
  h1 {
    font-size: 3.1rem;
  }
}


.correct-summary form {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.correct-summary button[type='submit'] {
  background-color: #6200bf;
  border: 1px solid #6200bf;
  border-radius: 0.25rem;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  padding: 6px 12px;
  box-shadow: none;
}

.correct-summary button[type='submit']:hover, .correct-summary button[type='submit']:active {
  background-color: #500398;
  border: 1px solid #500398;
}

.correct-summary button[type='submit'][value='No'] {
  background-color: #f7c600;
  border: 1px solid #f7c600;
}

.correct-summary button[type='submit'][value='No']:hover, .correct-summary button[type='submit'][value='No']:active {
  background-color: #e3b500;
  border: 1px solid #e3b500;
}

.correct-summary .form-control {
  /* display: inline-block; */
}